
.teamContainer {
    text-align: center;
    width: 300px;
    cursor: pointer;
    transition: 0.5s;
}

.fadedOut {
    opacity: 0.4;
}

.teamName {
    background-color:#2A5946;
    font-weight: bold;
    padding-bottom: 0px;
    height: 50px;
    margin-top: -50px;
    font-size: 45px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.teamAvatar {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.teamAvatar img {
    display: block;
    width: auto;
    height: 350px;

}

.scoreInput {
    border: 4px solid white;
    border-radius: 20px;
    
    font-weight: bold;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 24px -7px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 24px -7px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 24px -7px rgba(255, 255, 255, 1);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 2px #67A28A; /* width and color */
    margin-top: 156px;
}

input {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 3px #67A28A; /* width and color */
    background-color: transparent;

    border: none;
}

input:focus-visible {
    outline: none;
}
